*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, menu{
    list-style: none;
}
.container{
    width: 700px;
    margin: 100px auto;
}
ul >*{
 border: 1px solid black;
 display: flex;
 justify-content: space-between;
}
.done-line{
    text-decoration: line-through;
}